<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Organizer(s)</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'group', collection: groups %>
  </tbody>
</table>
